:root {
	--white: #ffffff;
	--gray-200: #e5e7eb;
	--gray-400: #9ca3af;
	--gray-500: #6b7280;
	--gray-700: #374151;
	--gray-800: #1f2937;
	--gray-900: #111827;
	--blue-600: #2563eb;
	--blue-800: #1e40af;
	--blue-900: #1e3a8a;
	--blue-950: #172554;
	--blue-1000: #101026;
}
